<div class="navbar navbar-inverse-blue navbar">
  <!--<div class="navbar navbar-inverse-blue navbar-fixed-top">-->
  <div class="navbar-inner">
    <div class="container">
      <div class="navigation">
        <nav id="colorNav">
          <ul>
            <li class="green">
              <a href="#" class="icon-home"></a>
              <ul>
                <li><%= link_to "Login", login_path %></li>
                <li><%= link_to "Register", registration_path %></li>
                <li><%= link_to "Logout", root_path %></li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
      <a class="brand" href="index.html"><img src="/assets/logo.png" alt="logo"></a>
      <div class="pull-right">
        <nav class="navbar nav_bottom" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header nav_2">
            <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">Menu
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"></a>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
            <ul class="nav navbar-nav nav_1">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "About", about_path %></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Matches<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "New Matche", matches_new_matches_path %></a></li>
                  <li><%= link_to "Who Viewed my Profile", matches_viewed_profile_path %></a></li>
                  <li><%= link_to "Viewed & not Contacted", matches_viewed_not_connected_path %></a></li>
                  <li><%= link_to "Premium Members", matches_preminum_membors_path %></a></li>
                  <li><%= link_to "Shortlisted Profile", matches_shortlist_profile_path %></a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "Regular Search", searches_regular_search_path %></a></li>
                  <li><%= link_to "Recently Viewed Profiles", searches_recent_viewed_profile_path %></a></li>
                  <li><%= link_to "Search By Profile ID", searches_search_by_profile_id_path %></a></li>
                  <li><%= link_to "Faq", searches_faq_path %></a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Messages<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to "Inbox", messages_inbox_path %></a></li>
                  <li><%= link_to "New", messages_inbox_path %></a></li>
                  <li><%= link_to "Accepted", messages_inbox_path %></a></li>
                  <li><%= link_to "Sent", messages_sent_path %></a></li>
                  <li><%= link_to "Upgrade", messages_upgrade_path %></a></li>
                </ul>
              </li>
              <li class="last"><%= link_to "Contact Us", contact_path %></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </nav>
      </div> <!-- end pull-right -->
      <div class="clearfix"></div>
    </div> <!-- end container -->
  </div> <!-- end navbar-inner -->
</div>